<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>general</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>this is the general layout of everypage, this text will be on every Hbs page</h1>
    {{{body}}}
  </body>
</html>
